<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MultipleMice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KinectProvider.Properties.Settings>
            <setting name="TouchPlaneOffset" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="TouchRelativeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TouchPlaneAbsOffset" serializeAs="String">
                <value>900</value>
            </setting>
        </KinectProvider.Properties.Settings>
        <MultipleMice.Properties.Settings>
            <setting name="BlockMouse" serializeAs="String">
                <value>False</value>
            </setting>
        </MultipleMice.Properties.Settings>
    </userSettings>
</configuration>